<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>CRUD NODEJS</title>
</head>

<body>
    <h1 text-align="center ">AUTOMOVILES</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Nombre</td>
                            <td>Marca</td>
                            <td>Año</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= data[i].id %>
                                    </td>
                                    <td>
                                        <%= data[i].name %>
                                    </td>
                                    <td>
                                        <%= data[i].model %>
                                    </td>
                                    <td>
                                        <%= data[i].year %>
                                    </td>
                                    <td>
                                        <a href="/update/<%= data[i].id %>" class="btn btn-info">Editar</a>
                                        <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card-body">

                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Nombre" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="model" placeholder="Marca" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="year" placeholder="Año" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Guardar automóvil
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>