<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>CRUD NODEJS</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 offset-md-3 card">
                <div class="card-body">

                    <form action="/update/<%= data.id %>" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" value="<%= data.nombre%>" placeholder="Nombre" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="marca" value="<%= data.marca%>" placeholder="Marca" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="anio" value="<%= data.anio%>" placeholder="Año" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                     Guardar automóvil
                  </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>